<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tmnt.newcomputer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:name=".Activity.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/new_computer_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.FirstUseActivity"
            android:theme="@style/AppTheme1">

        </activity>
        <activity
            android:name=".AppInfo.FristSlideAppinfo"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.TitleSlideActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.ShowUIconActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.ShowUseActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.WrongListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activity.TotalActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.ExamActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.WrongItemActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.SortActivity"
            android:theme="@style/AppTheme1"/>
        <activity
            android:name=".Activity.AboutActivity"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Activity.AdminActivity">
        </activity>

        <activity android:name=".Activity.NewsInfoActivity"></activity>

        <activity android:name=".Activity.UploadActivity"
                  android:theme="@style/AppTheme1"></activity>

        <receiver android:name=".BroadCast.StartBroad">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <service android:name=".Service.StartOpService"></service>
        <service android:name=".Service.UpdateDataService"></service>
    </application>

</manifest>